<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wvt.horizonmgr"
    android:versionCode="1"
    android:versionName="1">

    <queries>
        <package android:name="com.mojang.minecraft" />
        <package android:name="com.zheka.horizon" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".HorizonManagerApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HorizonManagerCompose.NoActionBar"
        tools:ignore="RtlEnabled"
        tools:targetApi="donut">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.wvt.horizonmgr.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.OnlinePackageInstallService"
            android:description="@string/online_package_install_service_description"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.RootActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HorizonManagerCompose.SlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.CustomThemeActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.JoinGroupActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.CommunityActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.ArticleContentActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.OnlineModDetailActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".ui.modulemanager.ModConfigActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.InstallPackageActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.FileSelectorActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.PackageDetailActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|uiMode" />
        <activity
            android:name=".activity.DonateActivity"
            android:configChanges="orientation|uiMode" />
    </application>

</manifest>