<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wvt.horizonmgr"
    android:versionCode="1"
    android:versionName="1">

    <queries>
        <package android:name="com.mojang.minecraft" />
        <package android:name="com.zheka.horizon" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".HorizonManagerApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HorizonManagerCompose.NoActionBar"
        tools:ignore="RtlEnabled"
        tools:targetApi="donut">
        <activity
            android:configChanges="uiMode"
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HorizonManagerCompose.SlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="uiMode"
            android:name=".ui.settings.CustomThemeActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.joingroup.JoinGroupActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.community.CommunityActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.news.NewsContentActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.onlinemoddetail.OnlineModDetailActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.modulemanager.ModConfigActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.onlineinstall.InstallPackageActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.fileselector.FileSelectorActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.pacakgemanager.PackageDetailActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.settings.SettingsActivity" />
        <activity
            android:configChanges="uiMode" android:name=".ui.login.LoginActivity" />
        <activity
            android:configChanges="uiMode"
            android:name=".ui.donate.DonateActivity"
            android:theme="@style/Theme.HorizonManagerCompose.Donate" />
    </application>

</manifest>